#create-aluno-button {
    display: flex;
    margin-top: 20px;
    top: 40vh;
    z-index: 2;
}

#create-aluno-button {
    position: absolute;
    right: 60px;
    flex-direction: row;
}

a {
    text-decoration: none;
}

#add-aluno {
    width: 130px;
    height: 46px;
    padding: 0 15px;
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 7px 0 0 7px;
    border: 2px solid var(--dark-blue);
    background-color: #FFF;
}

#add-aluno p {
    font-size: 16px;
    text-align: center;
    line-height: 18px;
    margin-top: 4px;
    color: var(--dark-blue);
}

#plus-square {
    --size: 46px;
    width: var(--size);
    height: var(--size);
    align-items: center;
    justify-content: center;
    border-radius: 0 7px 7px 0;
    background-color: var(--dark-blue);
}

#img-plus {
    width:35%;
    margin-top: 30%;
    margin-left: 30%;
}