body {
    display: flex;
    flex-direction: row;
}

content {
    flex: 1;
    padding-top: 2.7rem;
    background-color: #FFF;
}

content #title-span, content #tasks-section {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
}

content #title-span {
    top: 0vh;
}