@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --gray: #D8D8D8;
    --side-line-gray: #C4C4C4;
    --blue: #1A86F1;
    --dark-blue: #002641;

    --blue-svg: invert(35%) sepia(100%) saturate(1327%) hue-rotate(193deg) brightness(99%) contrast(91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif !important;
}

html, body {
    width: 100%;
    height: 100%;
}

button {
    all: unset;
    cursor: pointer;
}

